<section class ="whole">

	<section class = "top">

<nav>
	<ul class = "topmenu">
		<li class = "dropbtn">I am an Applicant</li>
		<li class = "dropbtn"> API & Docs</li>
		<li class = "dropbtn">About Us</li>
		<li class = "dropbtn">Careers</li>
	</ul>
</nav>

<nav class = "dropdown">

	<div class = "navright">
		
	<button class = "logoch">Checkr</button>
	

	<div class = "dropcontainer">
	<button class = "dropbtn">PRODUCT</button>
			<div class="dropdown-content">
			<a class = "dropcontent" href ="#"> Overview </a>
			<a class = "dropcontent" href ="#"> Screenings </a>
			<a class = "dropcontent" href ="#"> Compliance </a>
			<a class = "dropcontent" href ="#"> Security </a>
		</div>
	</div>
		
    <div class = "dropcontainer">
		<button class = "dropbtn"> STAFFING</button>
			<div class="dropdown-content">
			<a class = "dropcontent" href ="#"> Overview </a>
		</div>
	</div>
		
    <div class = "dropcontainer">
		<button class = "dropbtn">INDUSTRIES</button>
			<div class="dropdown-content">
			<a class = "dropcontent" href ="#"> Overview </a>
			<a class = "dropcontent" href ="#"> Contact Centers </a>
			<a class = "dropcontent" href ="#"> Retail </a>
			<a class = "dropcontent" href ="#"> Non Profit </a>
			<a class = "dropcontent" href ="#"> Manufacturing </a>
			<a class = "dropcontent" href ="#"> Small Businesses </a>
			<a class = "dropcontent" href ="#"> Overview </a>
			<a class = "dropcontent" href ="#"> Contact Centers </a>
			<a class = "dropcontent" href ="#"> Retail </a>
			<a class = "dropcontent" href ="#"> Non Profit </a>
			<a class = "dropcontent" href ="#"> Manufacturing </a>
			<a class = "dropcontent" href ="#"> Small Businesses </a>
		</div>
	</div>
		
    <div class = "dropcontainer">
		<button class = "dropbtn">RESOURCES</button>
			<div class="dropdown-content">
			<a class = "dropcontent" href ="#"> Overview </a>
			<a class = "dropcontent" href ="#"> Guides </a>
			<a class = "dropcontent" href ="#"> FAQ </a>
		</div>
	</div>
		

		<button class = "dropbtn">COMPLIANCE </button>

	</div>

	<div class = "navleft">

			<button class = "dropbtn">LOG IN</button>
		
		<button class = "navbutton">GET STARTED </button>
	</div>

</nav>

<div class = "contenttop">

	<div class = "catch">
		<h1> HIRE GREAT PEOPLE.<br>FASTER.</h1>
		<p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
		<button class ="CTA"> EXPLORE NOW</button>

	</div>

	<div class="video">
				<video id="demo-vid" class="video-js" controls="false" autoplay loop preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634" data-setup="{}">
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type='video/mp4' />
					<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type='video/webm' />
					<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634" />
				</video>
			</div>

</div>





</section>


<section class = "references">
	<h2>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h2>
	<div class = "logo"> 

			<img class="logos" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/02/Uber_white_2@2x.jpeg"/>
			<img class="logos"  src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/instacart-logo@2x.png"/>
			<img class="logos"  src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2018/02/Grubhub-logo.png"/>
			<img class="logos"  src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/postmates_logo_s-1.png"/>
			<img class="logos"  src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/zenefits.gif"/>
			<img class="logos"  src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2018/02/lyft_high_res.png"/>
	</div>
</section>


<section class = "nextgen">
	<h2> The Next Generation of Background Checks</h2>

         <div class = "nextgencont">
						<div class="arguments">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg" class="picto"/>
							<h3>>Mobile-Friendly</h3>
							<p >Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
						</div>

						<div class="arguments">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg"/>
							<h3>>Easy to Understand</h3>
							<p >Color-coded reports and an intuitive interface makes it possible to review information faster. <a href="http://checkr.com/sample-report/">See a sample employee background report.</a></p>
						</div>

						<div class="arguments">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg" class="aligncenter"/>
							<h3>>Convenient Automation</h3>
							<p >Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
						</div>

						<div class="arguments">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg"/>
							<h3>>Simplified and Compliant Communication</h3>
							<p >Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
						</div>
						
						<div class="arguments">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" class="aligncenter"/>
							<h3>>Fast and Accurate</h3>
							<p >Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
						</div>	
				</div>					

</section>



<section class = "industryneedssection">



	<h2>Tailored to Fit Your Industry’s Needs</h2>

	<div class = "industryneeds">


<div class = "mosaique">

<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%></a>
<p>Staffing</p>
<div class="contenthover">
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/"><%= image_tag ("harold.jpg")%>	
</a>
<p>Contact Centers</p>
<div class="contenthover">
					Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center.
	</div>
</div>


<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/"><%= image_tag ("harold.jpg")%>	
</a>
<p>Financial Services</p>
<div class="contenthover">
				Screening solutions that help protect critically sensitive data.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%></a>
<p>Retail and Hospitality</p>
<div class="contenthover">
				Combat high employee turnover with comprehensive screening solutions.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/"><%= image_tag ("harold.jpg")%>	
</a>
<p>On-Demand Economy</p>
<div class="contenthover">
				Full-service employment screening tools that help you make confident decisions and remain compliant.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/"><%= image_tag ("harold.jpg")%>	
</a>
<p>P2P Marketplaces</p>
<div class="contenthover">
				Full-service employment screening tools that help you make confident decisions and remain compliant.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%>	</a>
<p>Software and Technology</p>
<div class="contenthover">
				Screening solutions to support the protection of your product development.
	</div>
</div>

<div class = "mosaique">

<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%>	</a>
<p>Healthcare</p>
<div class="contenthover">
				Employment screening solutions to help you provide a safe environment for your patients and staff.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%>	</a>
<p>Non-Profit</p>
<div class="contenthover">
				Protect your workplace or community and your reputation with scalable, cost-effective, rapid screening solutions.
	</div>
</div>

<div class = "mosaique">
<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%>	</a>
<p>Small Business</p>
<div class="contenthover">
				Full-service employment screening tools that help you make confident decisions and remain compliant.
	</div>
</div>


<a href="https://checkr.com/industries/staffing/">
<div class = "mosaique">
<%= image_tag ("harold.jpg")%>	</a>
<p>Higher Education</p>
<div class="contenthover">
				Screening solutions to help you provide a secure environment for your students, faculty, and staff.
	</div>
</div>

<div class = "mosaique">

<a href="https://checkr.com/industries/staffing/">
<%= image_tag ("harold.jpg")%>	</a>
<p>Manufacturing</p>
<div class="contenthover">
				Customize and automate multiple screening packages for different jobs and requirements.
	</div>
</div>


	<div class = contact>
	 <p> Didn&rsquo;t find what you were looking for?<p>
	 	<a href="#">CONTACT US</a>

	</div>

</div>

</section>

<section class = "security" >
	<h2>Best in Class Compliance and Security</h2>

		<div class="secucontaniner">
				
          <div class="screening">
				<div class = "coupleicon">
			    	<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-magnify_glass.svg" class="aligncenter" />
			    	<div class = "listbox">
						<h3>Screenings</h3>
						<ul>
						<li>Criminal Records</li>
						<li>Driving Records</li>
						<li>Employment Verifications</li>
						<li>International Verifications</li>
						<li>Drug screening</li>
						</ul>
					</div>
				</div>
				<p><a class="button borderless with-arrow" href="http://checkr.com/product/screenings/">REVIEW ALL OF CHECKR’S SCREENING SERVICES</a></p>
		  </div>
									
		<div class="secucompliance">
		   <div class = "coupleicon">
		     <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-user_check.svg" class="aligncenter" />
				<div class = "listbox">
					<h3>Compliance</h3>
					<ul>
					<li>Compliant with state and federal laws, including FCRA</li>
					<li>NAPBS accreditation</li>
					<li>Experienced in-house compliance and investigation team</li>
					</ul>
				</div>
			</div>
				<p><a class="button borderless with-arrow" href="http://checkr.com/product/compliance/">VISIT OUR COMPLIANCE LEARNING CENTER</a></p>
		</div>
									
		<div class="secusecu">
			<div class = "coupleicon">
		       <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-lock_alt.svg" class="aligncenter" />
			  <div class = "listbox">
				<h3>Security</h3>
				<ul>
				<li>Data encrypted using bank-grade standards</li>
				<li>Non-stop monitoring</li>
				<li>Infrastructure built for high availability</li>
				</ul>
			 </div>
			</div>
			<p><a class="button borderless with-arrow" href="http://checkr.com/product/security/">SEE WHY WE’RE TRUSTED BY WORLD-CLASS COMPANIES</a></p>
      </div>
	
 </div>
</section>


<section class = "applicants" >
 <h2> Information for Applicants</h2>

<div class = "applicantcontainer">

	<div class = "applicantleft">

		<p>Checkr provides the support you deserve.</p>
		<ul>
			<li>Responsive U.S.-based customer service</li>
			<li>Status tracking available through the applicant portal</li>
			<li>Support available by phone or email</li>
		</ul>
		<a href = "#">Visit CHECKR’S APPLICANT PORTAL</a>
     </div>

	<div class= "applicantright">
		<p class = "cite"> “First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.”  </p>
		<p> Peter D.</p>
		<p class = "grubapp">Grubhub applicant</p>

	</div>
</div>

</section>

<section class = "taketour">
	<img src = "https://checkr.com/wp-content/uploads/2015/10/fake-promo.png">
	<div class = "tourcenter">
		<h3>Take a Tour</h3>
        <p>See why Checkr is the most reliable option for your background check needs.</p>
    </div>
    <button>SCHEDULE A DEMO</button>

</section>

<footer class = "chfooter">
<div class = "surfooter">
	<div class = "footlist"><h4> PRODUCT</h4>
		<ul>
		    <li>Overview</li>
		    <li>Screenings</li>
		    <li>Compliance</li>
		    <li>Security</li>
		    <li>API and Docs</li>
		</ul>
	</div>
    <div class = "footlist"> <h4> INDUSTRIES</h4>
			<ul>
		    <li>Overview</li>
		    <li>Screenings</li>
		    <li>Compliance</li>
		    <li>Security</li>
		    <li>API and Docs</li>
		    <li>Overview</li>
		    <li>Screenings</li>
		    <li>Compliance</li>
		    <li>Security</li>
		    <li>API and Docs</li>
		    <li>Compliance</li>
		    <li>Security</li>
		    <li>API and Docs</li>
		</ul>
	</div>

		<div class = "footlist"><h4> COMPANY</h4>
		<ul>
		    <li>Overview</li>
		    <li>Screenings</li>
		    <li>Compliance</li>
		    <li>Security</li>
		    <li>API and Docs</li>
		    <li>API and Docs</li>
		</ul>
	</div>

			<div class = "footlist"><h4> CONNECT</h4>
		<ul>
		    <li>Overview</li>
		    <li>Screenings</li>
		    <li>Compliance</li>
		    <li>Security</li>

		</ul>


		<div class="entry-social-connect">
								<a target="_blank" href="Https://twitter.com/checkr" title="Checkr on Twitter" class="twitter">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/icon_twitter.svg" class = "twitter"/>
			</a>
								<a target="_blank" href="Https://www.facebook.com/checkrio/" title="Checkr on Facebook" class="facebook">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/facebook.svg" />
			</a>
								<a target="_blank" href="Https://www.linkedin.com/company/checkr-com" title="Checkr on Linkedin" class="linkedin">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/linkedin.svg" />
			</a>
								<a target="_blank" href="Https://www.instagram.com/checkr_" title="Checkr on Instagram" class="instagram">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/instagram.svg" />
			</a>
								<a target="_blank" href="Https://angel.co/checkr" title="Checkr on Angellist" class="angellist">
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/angellist.svg" />
			</a>
			</div>
	</div>


</div>

<div class = "subfooter">

	<div class="footer-info">
			<ul>
				<li><a href="/customer-agreement">Customer Agreement | </a></li>
				<li><a href="/privacy-policy">Privacy Policy | </a></li>
				<li><a href="/terms-of-service">Terms of Service | </a></li>
				<li><a>&copy; 2018 Checkr, Inc.</a></li>
			</ul>
		</div>



</section>


